*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.nav-bar {
  display: grid;
  grid-template-columns: 4.8fr 6.2fr;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgb(116, 23, 23);
  border-bottom: solid black 1px;
  z-index: 1;
}

.nav-bar-btn {
  display: inline-block;
  background-color: rgb(116, 23, 23);
  cursor: pointer;
  padding-left: 15px;
  border: none;
  height: 79px;
  width: 79px;
}

.nav-bar-btn:hover {
  background-color: rgb(162, 43, 43)
}

.nav-bar-btn:focus {
  outline: yellow;
}

.nav-bar-dropdown {
  background-color: rgb(162, 43, 43);
  position: absolute;
  color: rgb(211, 211, 211);
  margin-top: 80px;
  height: auto;
  width: 350px;
  visibility: hidden;
}

.dropdown-open {
  visibility: visible;
}

.preference-dropdown {
  font-size: 1.3em;
  padding: 8%;
  border-bottom: solid black .5px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

p, u {
  color: white .25px;
}

.nav-bar-heading {
  display: inline-block;
  align-self: center;
  color: rgb(211, 211, 211);
  font-size: 2em;
  font-family: 'Courgette', cursive;
}

.line1, .line2, .line3 {
  width: 75%;
  height: 4px;
  background-color: rgb(211, 211, 211);
  margin: 10px 0;
  transition: 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-12px, 8px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-12px, -8px);
}

.main {
  height: 100%;
  width: 100%;
}

.main-top {
  display: grid;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/food-banner5.jpg')no-repeat center center;
  background-size: cover;
  height: 480px;
  padding-top: 80px;
  border-bottom: solid rgb(211, 211, 211) 2px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". label ."
    "name category ingredients"
    ". submit .";
  justify-items: center;
}

.shown-container {
  display: flex;
  justify-content: center;
}

.recipe-shown {
  background-color: #fff;
  border-radius: 15px;
  border: solid black 2px;
  width: 75%;
  height: 70%;
  position: fixed;
  margin-top: 10%;
  overflow-x: scroll
}

.recipe-header-container {
  border-bottom: solid black 1px;
  height: 12%;
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recipe-title {
  align-self: center;
}

.close-btn {
  align-self: flex-end;
  border-radius: 50%;
  font-size: 1em;
  width: 50px;
  height: 50px;
  border: none;
}

.ingredient-items {
  width: 30%;
  border-right: solid black 2px;
  height: 100vh;
  display: inline-block;
}

.recipe-pic {
  width: 100%;
}

.ingredient-list {
  width: 100%;
  padding: 10%;
}

.recipe-instructions {
  display: inline-block;
  width: 69%;
}

.favorite-cover {
  height: 100vh;
  width: 100%;
  display: flex;
  padding-top: 7%;
  justify-content: center;
}

.favorite-cards-section {
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 10px;
}

.favorite-heading {
  display: flex;
  font-size: 2em;
  color: #741717;
  justify-content: center;
}

.favorite-cards {
  width: 95%;
  height: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  border: solid black 2px;
  overflow: hidden;
}

.favorite-recipe-name {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .favorites-action-bar {
   display: flex;
   justify-content: space-around;
   padding-top: 2%;
 }

.action-btn {
  padding: 3%;
  width: 35%;
  border-radius: 5px;
}

.favorited-recipe {
  flex-wrap: wrap;
  border: solid black 2px;
  height: 350px;
  width: 295px;
}

.favorite-recipe-img {
  height: 70%;
  width: 100%;

}

.search-wrapper {
  display: inline-block;
  width: 80%;
}

.search-form-label {
  grid-area: label;
}

select {
  cursor: pointer;
}

.search-name {
  grid-area: name;
}

.search-tag {
  grid-area: category;
}

.search-ingredient {
  grid-area: ingredients;
}

.search-btn {
  grid-area: submit;
  height: 50%;
  width: 80%;
  border-radius: 10px;
  border: solid #fff 2px;
  font-size: 1.2em;
  color: black;
  background-color: #fff;
  opacity: .7;
  cursor: pointer;
}

.search-box {
  width: 100%;
  height: 30%;
  font-size: .9em;
  margin-top: 10px;
}

.search-form-label {
  color: rgb(211, 211, 211);
  font-size: 3em;
  align-self: center;
}

.search-labels {
  font-size: 1.3em;
  color: rgb(211, 211, 211);
}

.content-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/kitchen-background-3.jpg')no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  grid-row-gap: 20px;
  padding: 0px 100px 0px 100px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  border-radius: 10px;
  background-color: rgb(189, 189, 189);
  width: 400px;
  height: 400px;
  margin: 40px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-card-bar {
  display: flex;
  background-color: transparent;
  border-radius: 0px 0px 10px 10px;
  border-top: solid black 1px;
  height: 15%;
}

.recipe-card-name {
  align-self: flex-start;
  width: 50%;
  padding: 10px 0px 0px 10px;
  flex-grow: 1;
}

.recipe-img {
  height: 85%;
  border-radius: 8px 8px 0px 0px;
}

.btns-container {
  display: inline-block;
  align-self: flex-end;
  padding: 0px 10px 10px 0px;
}

.heart-btn {
  background-image: url("../images/favorite.svg");
  height: 30px;
  width: 30px;
  background-color: rgb(189, 189, 189);
  border: none;
}

.heart-btn-active {
  background-image: url("../images/favorite-active.svg");
}

.cook-btn {
  background-image: url("../images/cutlery.svg");
  height: 30px;
  width: 30px;
  background-size: contain;
  background-color: rgb(189, 189, 189);
  border: none;
}

.cook-btn-active {
  background-image: url("../images/cutlery-active.svg");
}

.pantry-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pantry-item {
  border: solid black 1px;
  padding: 30px 300px 30px 300px;
  margin: 3%;
  background-color: #fff;
}

.pantry-item-name {
  display: inline-block;
}

.pantry-item-quantity {
  display: inline-block;
}

.hide-section {
  display: none;
}
